@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #CCD3D9;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* style for navbar */
.navbar{
    position:fixed;
    width:100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #1C282E; 
}
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.navbar .logo a{
    font-size: 30px;
    color: #CCD3D9;
    font-weight: 500;
}
.navbar .logo a span{
    color: #1C282E;
    transition: all 0.3s ease; 
}
.navbar.sticky .logo a span{
    color:#CCD3D9;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #CCD3D9;
    font-size: 18px;
    font-weight: 300;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #1C282E;
}
.navbar.sticky .menu li a:hover{
    color: #273F4B;
}
/* style for menu-btn */
.menu-btn{
    color: #CCD3D9;
    font-size: 23px ;
    cursor: pointer;
    display: none;
}

/* style for gome section */
.home{
    display: flex;
    background: url("../img/banner_final.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #CCD3D9;
    min-height: 500px;
    font-family: 'Rubik', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    color: #CCD3D9;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: #CCD3D9;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: #CCD3D9;
}
.home .home-content .text-3 span{
    color: #308cf5;
    font-weight: 500;
}
.home .home-content .text-4{
    font-size: 25px;
    color: #CCD3D9;
}
.home .home-content .text-4 span{
    color: rgb(36, 86, 224);
    font-weight: 400;
}
.home .home-content a{
    display: inline-block;
    background: #1C282E;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #308cf5;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #273F4B;
    background: none;
}
/* style for about section */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Rubik', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    color: #273F4B;
    font-family: 'Rubik', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #273F4B;
    transform: translateX(-50%);
}
.about .title::after{
    content: "My Description";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #273F4B;
    padding: 5px;
    background: #CCD3D9;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;;
}
.about .about-content .right .text span{
    color:#273F4B;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #1C282E;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #273F4B;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color:#1C282E;
    background: none;
}

/* start of responsive media query */
@media (max-width: 1104px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 950px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 0, 0);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu .li{
        display: block;
    }
    .navbar .menu .li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
        color: #CCD3D9;
    }
    .home .home-content .text-3{
        font-size: 40px;
        color: #CCD3D9;
    }
    
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
        color: #CCD3D9;
    }
    .home .home-content .text-3{
        font-size: 32px;
        color: #CCD3D9;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 8px 25px;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
        color: #CCD3D9;
    }
    .home .home-content .text-3{
        font-size: 27px;
        color: #CCD3D9;
    }
}