@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #CCD3D9;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* style for navbar */
.navbar{
    position:fixed;
    width:100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #1C282E; 
}
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.navbar .logo a{
    font-size: 30px;
    color: #CCD3D9;
    font-weight: 500;
}
.navbar .logo a span{
    color: #1C282E;
    transition: all 0.3s ease; 
}
.navbar.sticky .logo a span{
    color:#CCD3D9;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #CCD3D9;
    font-size: 18px;
    font-weight: 300;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #308cf5;
}
.navbar.sticky .menu li a:hover{
    color: #273F4B;
}
/* style for menu-btn */
.menu-btn{
    color: #CCD3D9;
    font-size: 23px ;
    cursor: pointer;
    display: none;
}

/* style for gome section */
.home{
    display: flex;
    background: url("../img/banner_final.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #CCD3D9;
    min-height: 500px;
    font-family: 'Rubik', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    color: #CCD3D9;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: #CCD3D9;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: #CCD3D9;
}
.home .home-content .text-3 span{
    color: #308cf5;
    font-weight: 500;
}
.home .home-content .text-4{
    font-size: 25px;
    color: #CCD3D9;
}
.home .home-content .text-4 span{
    color: rgb(36, 86, 224);
    font-weight: 400;
}
.home .home-content a{
    display: inline-block;
    background: #1C282E;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #308cf5;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #273F4B;
    background: none;
}
/* uniform styling */
section{
    padding: 100px 0;
}
.about, .showcase, .skills, .projects{
    font-family: 'Rubik', sans-serif;
}
.about .about-content,
.showcase .showcase-content,
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    color: #273F4B;
    font-family: 'Rubik', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #273F4B;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #273F4B;
    padding: 5px;
    background: #CCD3D9;
    transform: translateX(-50%);
}
/* style for about section */
.about .title::after{
    content: "My Introduction";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;;
}
.about .about-content .right .text span{
    color:#273F4B;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #1C282E;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #273F4B;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color:#1C282E;
    background: none;
}

/* style for showcase section */
.showcase, .projects{
    color: #CCD3D9;
    background: #080c0e;
}
.showcase .title,
.projects .title{
    color: #CCD3D9;
}
.showcase .title::before,
.projects .title::before{
    background: #CCD3D9;
}
.showcase .title::after{
    background: #080c0e;
    color: #CCD3D9;
    content: "My Capabilities";
}
.showcase .showcase-content .card{
    width: calc(33% - 20px);
    background: #0e161a;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.showcase .showcase-content .card:hover{
    background: #1C282E;
}
.showcase .showcase-content .card .box{
    transition: all 0.3s ease;
}
.showcase .showcase-content .card:hover .box{
    transform: scale(1.05);
}
.showcase .showcase-content .card i{
    font-size: 50px;
    color: #308cf5;
    transition: color 0.3s ease;
}
.showcase .showcase-content .card:hover i{
    color: #CCD3D9;
}
.showcase .showcase-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* style for skills section */
.skills .title::after{
    content: "My knowledge";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify; 
}
.skills .skills-content .left a{
    display: inline-block;
    background: #1C282E;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #273F4B;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color:#1C282E;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightblue;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background:#0e161a;
    transition: all 0.3s ease;
}
.skills-content .right:hover .java::before{
    width: 70%;
}
.skills-content .right:hover .python::before{
    width: 50%;
}
.skills-content .right:hover .php::before{
    width: 60%;
}
.skills-content .right:hover .css::before{
    width: 60%;
}
.skills-content .right:hover .mysql::before{
    width: 70%;
}

/* style for projects section */
.projects .title::after{
    background: #080c0e;
    color: #CCD3D9;
    content: "My portfolio"
}
.projects .carousel .card{
    background: #0e161a;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover{
    background: #1C282E;
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #273F4B;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
    border-color: #CCD3D9;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #273F4B!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #1C282E!important;
}

/* start of responsive media query */
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 950px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 0, 0);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu .li{
        display: block;
    }
    .navbar .menu .li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
        color: #CCD3D9;
    }
    .home .home-content .text-3{
        font-size: 40px;
        color: #CCD3D9;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .showcase .showcase-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px
    }
    .max-width{
        max-width: 800px;
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
        color: #CCD3D9;
    }
    .home .home-content .text-3{
        font-size: 32px;
        color: #CCD3D9;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 8px 25px;
    }
    .showcase .showcase-content .card{
        width: 100%;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
        color: #CCD3D9;
    }
    .home .home-content .text-3{
        font-size: 27px;
        color: #CCD3D9;
    }
}
